*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

nav div{
    box-shadow: 0px 12px 50px -11px rgba(0,0,0,0.08);
}

ul{
    margin: 0;
    padding: 0;
    padding: 1rem;
    text-align: center;
}

li{
    list-style: none;
    margin-top: 1rem;
}

a{
    text-decoration: none;
    color: #FFFFE0;
}

.height{
    height: 90px;
    padding: 0 1.5rem;
}

.nav-toggle {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}
  
.hidden {
    height: 0;
    overflow: hidden;
}  

.show{
    height: auto;
    overflow: visible;
    background-color: #353A41;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #353A41;
}

.center{
    margin: 1.5rem auto;
}

.cards{
    width: 370px;
    height: 370px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

.text-centered{
    text-align: center;
}

form{
    width: min(600px, 100%);
    padding: 0 0.5rem ;
}

.color-azul{
    border: 2px solid #007BFF;
}

.color-celeste{
    border: 2px solid #16A2B9;
}

.color-amarillo{
    border: 2px solid #FEC106;
}

input, select{
    width: 100%;
    padding: .75rem;
    border: 1.5px solid #CFD5DA;
    border-radius: 5px;
}


input[type=text]:focus, input[type=number]:focus  {
    background-color: lightblue;
    outline: none;
}


.input-center{
    margin: 1rem auto;
}

.monto{
    width: 100%;
    padding: .75rem;
    background-color: #CDE5FE;
    text-align: left;
}

.boton{
    background-color: #96C83E;
    width: 49%;
    border: none;
    margin-top: 1rem;
    padding: 1rem 0;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
}

footer{
    background-color: #224960;
    margin-top: 3rem;
    padding: 1rem;
}

footer div{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width: 811px){
    li{
        margin: 0;
    }
    a{
        margin: 0 1rem;
    }
    .nav-toggle{
        display: none;
    }
    .offertas{
        display: flex;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    } 
    .hidden {
        height: auto;
        overflow: visible;
        background-color: #353A41;
        display: flex;
        align-items: center;

    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #353A41;
    } 
    footer{ 
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        gap: 1rem;
    }
}

/* 
* ! 
?
TODO:


*/